#lightbox > * {
    box-sizing: border-box;
}
#lightbox a {
	position: relative;
	z-index: 1;
	color: #96a3ff;
}
#lightbox {
    box-sizing: border-box;
	z-index: -100;
	visibility: hidden;
	position: fixed;
	width: 100%;
	height:100%;
	color:white;
	background-color: rgba(0, 0, 0, .8);
	top:0;
	left:0;
	right:0;
	bottom:0;
}#lightbox.on {
	z-index: 100;
	visibility: visible;
}#lightbox button {
	color: #ffffff;
	text-shadow: #000000 1px 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer !important;
}
#lightbox-close.cms-default {
    position: absolute;
    right: 2%;
}#lightbox i.icon {
    font-size: 40px;
	cursor: pointer !important;
}#lightbox i.close.icon {
	padding-left: 6px;
}
#lightbox-arrows.cms-default {
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    text-shadow: #000000 1px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin:3px;
}#lightbox-arrows.off,
#lb-back.off,
#lb-next.off,
#lightbox-close.off {
	visibility: hidden;
	cursor: unset;
}
#lightbox-arrows button {
	flex-direction: column;
}
.lightbox-arrow {
	cursor: pointer !important;
}
.lightbox-content {
	position: absolute;
	overflow: scroll;
    width: 100%;
    height: 100%;
}
#lightbox-inner {
	min-height: 100%;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	padding:35px;
} #lightbox img {
	max-width: 95%;
	max-height: 95%;
}
#lightbox-close:focus-visible,
.lightbox-arrow:focus-visible {
    outline: rgb(20, 200, 200) solid 3px;
}