:root {
    --col-1: #ffffff;
    --col-2: #e4a9d2;
    --col-3: #c1fffd;
    --col-4: #7f8bff;
    --col-5: #d91571;
    --col-6: #0a0a3c;
    --red: rgb(237 63 63);
    --highlight1: rgb(118 215 231);
    --highlight2: rgb(167 253 219);
    --font-1: Verdana, 'Geneva', Tahoma, Arial, sans-serif;
    --font-2: 'Futura', Verdana, 'Geneva', Tahoma, Arial, sans-serif;;
}


html * {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    max-width: 100%;
    font-family: var(--font-1);
}

body {
    color: var(--col-6);
    line-height: 1.5em;
    background-color: var(--col-1);
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--font-2);
    font-weight: normal;
}

h1 {
    margin: 8px 0 12px;
}

a {
    color: var(--col-5);
    text-decoration: none;
    transition-duration: .25s;
}a:hover {
    color: #38bfc9;
    transition-duration: .25s;
}

hr {
    border-color: var(--col-6);
    width: 100%;
    padding: 0;
    margin: 8px auto;
}

ul {
    flex-direction: column;
}

.msg-alert {
    background-color: #92f1cb;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
    margin: 2% auto;
    border-radius: 3px;;
}

button,
.button,
a.button {
    display: inline-block;
    color: #fff;
    background-color: var(--col-4);
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 5px 12px;
    border: none;
    border-radius: 3px;
    margin: 8px;
    box-shadow: rgb(0 5 90 / 72%) 1px 2px 2px;
    cursor: pointer;
}a.button:hover {
    color: #fff;
}
button.red,
.button.red {
    color: #ffffff;
    background-color: var(--red);
}
button.small,
.button.small {
    font-size: 1rem;
    padding: 3px 8px;
}

main {
    margin: 6px;
}

.menu {
    font-family: var(--font-2);
}.menu a {
    color: #fff;
    background-color: #1a1a5f;
    padding: 1px 10px 4px;
    border-radius: 3px;
    letter-spacing: 1px;
}.menu a:hover {
    background-color: var(--col-4);
}

.container {
    background-color: var(--col-2);
}

.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.space-btwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #dfcef6;
    padding: 0px 8px 8px;
}header h2 {
    margin: 0;
}

footer {
    font-size: .75em;
    display: flex;
    justify-content: center;
}

.settings-header h2::before {
}

i.fi {
    position: relative;
    top: 2px;
}
h1 i.fi {
    top: 4px;
    left: 4px;
}

.invis {
    display: none;
}
.chktoggle-show {
    display: none !important;
}
.chktoggle-hide {
    display: flex !important;
}
.chktoggle:checked ~ .chktoggle-show {
    display: flex !important;
}
.chktoggle:checked ~ .chktoggle-hide {
    display: none !important;
}
.chktoggle-label {
    display: block;
    width: 100%;
    cursor: pointer;
}.chktoggle-label:hover,
.chktoggle:checked ~ .chktoggle-label {
    color: #4444ff;
}

ul.page-list,
ul.section-list {
    padding: 0;
    margin: 0;
}

.page-box {
    display: flex;
    flex-direction: column;
    color: var(--col-6);
    background-color: #fbe4ff;
    line-height: 2em;
    margin: 4px;
    border-radius: 3px;
    transition-duration: .25s;
    border-bottom: 3px solid #924a6b;
}

.page-label {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background-color: var(--col-2);
}

.btns-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 10px;
}
.page-box>.btns-box {
    border-width: 0px 3px 2px 3px;
    border-style: solid;
    border-color: var(--col-2);
}

a.opt {
    color: #fff;
    display: inline-block;
    background-color: var(--col-4);
    padding: 1px 8px;
    border-radius: 3px;
    transition-duration: .25s;
    /* flex:1;
    width:100%; */
} .sect-options a.opt {
    background-color: #657de8;
}
a.opt.settings {
    display: block;
    padding: 0px 8px;
    background-color: #b06889;
    align-self: flex-start;
}
a.opt.new-item,
.sect-options a.opt.new-item {
    display: block;
    padding: 0px 8px;
    background-color: #45a39a;
}

.page-label:hover,
.sect-label:hover {
    transition-duration: .25s;
}.page-label:hover {
    background-color: #ffc9ef;
}.chktoggle:checked ~ .page-label:hover{
    background-color: var(--col-2);
}

.sect-box {
    display: flex;
    flex-direction: column;
    color: var(--col-6);
    background-color: #e5ebff;
    line-height: 2em;
    border-radius: 3px;
    transition-duration: .25s;
    border-bottom: 3px solid #5756de;
}

.sect-box>.btns-box {
    border-width: 0px 3px 2px 3px;
    border-style: solid;
    border-color: #b1b8ff;
}

.sect-label {
    background-color: #b1b8ff;
    padding: 5px 10px;
}.page-box li.sect-label {
    padding: 1px 8px;
    border-radius: 3px;
}.no-sect-label {
    background-color: #cdcdcd;
    padding: 5px 10px;
}
.sect-label:hover {
    background-color: #c2c7ff;
}.chktoggle:checked ~ .sect-label:hover {
    background-color: #b1b8ff;
}

.page-box .sect-box {
    margin: 4px 0 4px 5%;
}

.sect-options {
    display: flex;
    flex-direction: row;
    gap: 8px;
}




ul.index-list,
ul.form-list,
ul.page-list,
ul.section-list,
ul.menu-settings-item-list {
    list-style: none;
}

ul.section-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul.form-list li {
    padding: 5px;
}

ul.index-list li {
    display: flex;
    align-items: center;
}

ul.index-list li img {
    margin-right: 15px;
}

ul.index-list li,
ul.form-list li,
ul.menu-settings-item-list,
ul.index-item-list {
    background: var(--highlight1);
    background: linear-gradient(90deg, rgba(118, 215, 231, 1) 15%, rgba(118, 215, 231, .25) 100%)
}
ul.index-list li:nth-child(even),
ul.index-list a:nth-child(even) li,
ul.form-list li:nth-child(even),
ul.menu-settings-item-list li:nth-child(even),
ul.index-item-list li:nth-child(even) {
    background: var(--highlight2);
    background: linear-gradient(90deg, rgba(167, 253, 219, 1) 15%, rgba(167, 253, 219, .25) 100%);
}

ul.form-list li ul.form-list li {
    background: unset;
}

ul.form-list li textarea {
    width: 100%;
    max-width: 600px;
    min-height: 125px;
}
ul.form-list p {
    font-size: .8rem;
    margin:0;
    line-height: 1rem;
}

.menu-settings-table {
    width: 90%;
    margin: auto;
}

ul.menu-settings-table-head,
ul.index-table-head {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

ul.menu-settings-item-list,
ul.index-item-list {
    padding: 0;
    margin: 0;
}

ul.menu-settings-item-list li,
ul.index-item-list li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 8px;
}

ul.menu-settings-item-list li .menu-item-order {
    width: 3em;
}
.js-check {
    display: none;
}
.js-check.js-enabled, 
.js-check .js-enabled {
    display: unset;
}

ul#add-thumbnail {
    background: rgb(233 255 252) 15%;
    background: linear-gradient(90deg, rgb(233 255 252) 15%, rgba(118, 215, 231, .25) 100%);
    list-style: none;
    padding-left: 10px;
    margin-top: 5px;
}ul#add-thumbnail li {
    padding: 0 10px;
    background: unset;
}

main.user-manual section {
    padding: 0 1vw;
    margin: 5px auto 15px;
}main.user-manual p {
    padding: 5px 2vw;
    text-indent: 4.5vw;
    text-align: justify;
    margin: 8px auto;
}main.user-manual blockquote {
    padding-left: 3vw;
}p.ni {
    text-indent: unset;
}
.rose {
    color: #9e245c;
}.powblu {
    color: #5756de;
}.teal {
    color: #008080;
}
.red {
    color: #bd0020;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }.modal-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* The Close Button */
  span.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-animate-from-top {
    position: relative;
    animation: animatetop 0.4s;
}
@keyframes animatetop {
0% {
    top: -300px;
    opacity: 0;
}
100% {
    top: 0;
    opacity: 1;
}}
.hide {
    display: none;
}
.show {
    display: block;
}